.game {
    font-family: TT Lakes,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
} 
.video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
}